# Xcode user data and workspace settings
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.xcuserdatad/
*.xcdebugger/
*.xcworkspace/xcuserdata/

# Specific path requested by the user
SudokuAI.xcodeproj/xcuserdata/normanbasham.xcuserdatad/
SudokuAI.xcodeproj/xcuserdata/normanbasham.xcuserdatad/xcdebugger/

# Build products
build/
DerivedData/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# SwiftPM
.build/

# Fastlane
fastlane/report.xml
fastlane/test_output
fastlane/preview.html
fastlane/screenshots
fastlane/test_output.json

# Misc
*.swp
*.lock
.idea/
.DS_Store
